@import "../styles/variables.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 $spacing;
  width: 100%;
  border-radius: 10px;
  background-color: $white;
}
