@import "../styles/variables.scss";

h1 {
  color: $primary;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 $spacing $spacing $spacing;
  width: 100%;
}