@import "../styles/variables.scss";

#root {
  width: 100%;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

//Line
.timeline-container::after {
  background-color: $primary;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 5px;
  height: 99%; //Line bottom
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 3px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 15px;
  width: 350px;
  text-align: right;
}

.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  right: -7.5px;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  letter-spacing: 1px;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
}


.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content .circle {
  background-color: $light-background;
  border: 3px solid $primary;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item-content .circle-complete {
  background-color: $background;

  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -45px;
  width: 30px;
  height: 30px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle-complete {
  right: auto;
  left: -45px;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}
