$font-family: "Roboto", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$primary: #05668d;
$secondary: #53782b;
$teriary: #427aa1;
$light-background: #ebf2fA;
$dark-background: #252218;

$spacing: 2rem;
